<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.md1k.api.dao.IArticleDao">

    <resultMap id="ArticleManage" type="com.md1k.api.pojo.Article">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="hits" jdbcType="INTEGER" property="hits"/>
        <result column="words" jdbcType="VARCHAR" property="words"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="head_img" jdbcType="VARCHAR" property="headImg"/>
    </resultMap>

    <select id="findById" resultMap="ArticleManage">
        select a.*,b.name as
        categoryName from qing_articles a LEFT JOIN category_name b on
        a.category_id = b.category_id where a.uuid=#{uuid} AND a.status='1'
    </select>

    <select id="getNewArticle" resultMap="ArticleManage">
        select a.*,b.name as
        categoryName from qing_articles a LEFT JOIN category_name b on
        a.category_id = b.category_id WHERE a.status='1' ORDER BY created_time DESC
        LIMIT 20
    </select>

    <select id="getAllArticle" resultMap="ArticleManage">
        select a.*,b.name as categoryName from qing_articles a
        LEFT JOIN category_name b on a.category_id = b.category_id
        where a.category_id = #{categoryId} AND a.status='1'
        ORDER BY created_time DESC
    </select>

    <select id="getLastArticleById" resultMap="ArticleManage">
        select * FROM qing_articles WHERE category_id=#{categoryId} AND id&lt;#{id} AND status='1' ORDER BY id DESC
        LIMIT 1
    </select>

    <select id="getNextArticleById" resultMap="ArticleManage">
        select * FROM qing_articles WHERE category_id=#{categoryId} AND id>#{id} AND status='1' ORDER BY id ASC LIMIT 1
    </select>

    <select id="getArticleByHits" resultMap="ArticleManage">
        select a.*,c.name as 'categoryName' from qing_articles a left join category_name c on
        a.category_id=c.category_id WHERE status='1' order by hits DESC limit 10
    </select>

    <select id="getArticleByRand" resultMap="ArticleManage">
        select uuid,title,created_time,hits,picture from qing_articles
        WHERE status='1' ORDER BY RAND() limit 10
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(id) from qing_articles WHERE status='1'
    </select>

    <update id="updateHitsById">
        update qing_articles set hits = #{hits} where id = #{id}
    </update>

    <insert id="insertArticle">
        INSERT INTO qing_articles (uuid,title, words, author, category_id,created_time)
        VALUES (#{uuid},#{title}, #{words}, #{author}, #{categoryId},now())
    </insert>

    <update id="updateArticle">
        UPDATE qing_articles SET
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="words != null and words != ''">
            words = #{words},
        </if>
        <if test="title != null and title != ''">
            picture = #{picture},
        </if>
        <if test="title != null and title != ''">
            categoryId = #{categoryId},
        </if>
        updated_time = CURRENT_TIMESTAMP
        <![CDATA[
	            where id = #{id}
	        ]]>
    </update>

    <update id="changeStatusById">
        UPDATE qing_articles SET status = #{status} WHERE id = #{id}
    </update>

    <select id="findArticleList" resultMap="ArticleManage">
        select a.*,b.name as
        categoryName from qing_articles a LEFT JOIN category_name b on
        a.category_id = b.category_id WHERE a.status = #{status}
    </select>

    <select id="findByTitle" resultMap="ArticleManage">
        select a.*,b.name as
        categoryName from qing_articles a LEFT JOIN category_name b on
        a.category_id = b.category_id WHERE a.title LIKE CONCAT('%',#{title},'%')
    </select>

    <select id="findByWords" resultMap="ArticleManage">
        select a.*,b.name as
        categoryName from qing_articles a LEFT JOIN category_name b on
        a.category_id = b.category_id WHERE a.words LIKE CONCAT('%',#{words},'%')
    </select>

    <select id="find" resultMap="ArticleManage">
        SELECT * FROM qing_articles
        <where>1=1
            <if test="id != '' and id != null">
                and id = #{id}
            </if>
            <if test="title != '' and title != null">
                and title = #{title}
            </if>
            <if test="hits != null">
                and hits = #{hits}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

    <select id="findByCategoryId" resultMap="ArticleManage">
        select a.*,b.name as categoryName from qing_articles a
        LEFT JOIN category_name b on a.category_id = b.category_id
        where a.category_id = #{categoryId} AND a.status='1'
        ORDER BY created_time DESC limit 10
    </select>

    <select id="dailyRecommend" resultMap="ArticleManage">
        select * from qing_articles where status = 1 order by hits ASC limit 1
    </select>
</mapper>