<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md1k.api.dao.CityMapper">
  <resultMap id="BaseResultMap" type="com.md1k.api.pojo.City">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="position" jdbcType="OTHER" property="position" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_spelling" jdbcType="VARCHAR" property="name_spelling" />
    <result column="sys_created" jdbcType="TIMESTAMP" property="sys_created" />
    <result column="sys_modified" jdbcType="TIMESTAMP" property="sys_modified" />
  </resultMap>

  <sql id="Base_Column_List">
    id, position, longitude, latitude, name, name_spelling, sys_created, sys_modified
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from md1k_cities
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>