<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md1k.api.dao.IQingAuthorDao">
  <resultMap id="BaseResultMap" type="com.md1k.api.pojo.QingAuthor">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
  </resultMap>

  <select id="selectAll"  resultMap="BaseResultMap">
    select * from qing_author
  </select>

</mapper>